*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform:capitalize;
    text-decoration: none;
    
}
:root{
    --green_main:#00BFA5;
    --green_secondary:#817874;
    --alpha:1;
    --hover_alpha:0.8;
}
/* start header */
header{
    display: flex;
    height: 8vh;
    width: 100%;
    justify-content: center;
}
header > nav{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
}

nav a > img {
    width: 250px;
}
nav ul{
    color: var(--green_secondary);
    width: 15vw;
    height: 2vh;
    display: flex;
    margin: 0 10px;
    list-style: none;
    justify-content: space-around;
}
nav ul #about_us {
color: var(--green_main);
font-weight: 700;

}
nav ul li a{
    color: var(--green_secondary);
}
nav div > ul li:hover > a{
    color: var(--green_main);
}
#menu i{
    display: none;
    margin: 0 20px;
    color: #00BFA5;
}
nav ul #department{
    position: relative;
    height: 3vh;
}
nav ul #department:hover #m_department{
    display:block;
}
nav li #m_department{
    background-color: white;
    position: absolute;
    min-width: 200px;
    height: 180px;
    top: 3vh;
    right: 0;
    border-radius: 5px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.5);
    display: none;
}
nav li #m_department ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
    margin-bottom: 2px;
}
nav li #m_department ul li{
    width: fit-content;
    padding: 5px;
}

/* end header */
/* start home */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home>h2{

    font-size: 2rem;
    font-weight: 400;
    color: var(--green_main);
    text-align: center;
}
#home>img{
    margin: 50px;
    width: 40px;
}
#home>#text{
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
}
#text .text{
    margin: 10px;
    color: var(--green_secondary);
}
#home #boxes{
    display: flex;
    justify-content: space-between;
}
#boxes .box{
    width: 10vw;
    margin: 10px;
    border-radius: 10px;
    padding: 40px;
    transition: all 0.25s ease-in-out;
}

.box h1{
    color: white;
    font-weight: 600;
    margin: 10px 0;
}
.box h2{
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}
.box i{
    color: white;
}
#boxes #patients_box{
    background-color: rgba(0, 191, 165, var(--alpha));
    
}
#boxes #patients_box:hover{
    background-color: rgba(0, 191, 165, var(--hover_alpha));
}
#boxes #doctors_box{
    background-color: rgba(130, 130, 255,var(--alpha));
}
#boxes #doctors_box:hover{
    background-color: rgba(130, 130, 255,var(--hover_alpha));
}
#boxes #client_box{
    background-color: rgba(38, 61, 66, var(--alpha));
}
#boxes #client_box:hover{
    background-color: rgba(38, 61, 66, var(--hover_alpha));
}
.box select {
    width: 100%;
    font-size: 1.25rem;
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-top: 50px;
    background-color: transparent;
    border: none;
}
.box select option{
color: black;
}

/* end partners */
/* start numbers */
#numbers{
    position: relative;
    background-color:rgba(38, 61, 66, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15vh 0;
    overflow: hidden;
    
}
#numsub{
    width: 50%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-template-rows:repeat(2,1fr);
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

#numbers #numdiv{
    grid-row-start:1 ;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 0;
}
#numbers .numbers{
    width: 50%;
}
#numbers img{
    position: absolute;
    width: 40vw;
    left: 5vw;
    z-index: -1;
    bottom: -200px;
}
.numbers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.numbers h2{
    color: var(--green_main);
    font-size: 1.5rem;
}
#numbers_text h1{
    color: var(--green_main);
    font-size: 1.5rem;

}
.numbers p{
    font-size: 0.75rem;
    color:var(--green_secondary);
}
.numbers i{
    color: var(--green_main);
}
#numbers_text{
    padding: 10vh 0;
}
#numbers_text h1{
    font-weight: 300;
    font-size: 1.5rem;
}
#numbers_text p{
    margin: 50px 0;
    font-size: .75rem;
    color: var(--green_secondary);
}

/* end home */
/* start partners */
#partners{
    height: 5vh;
    margin: 50px 0;
    width: 50vw;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
#partners_p{
    width: 20vw;
    color: var(--green_main);
    font-size: 1.5rem;
}
#partners_logo ul{ 
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
    margin: 0 15px;
}
#partners_logo ul li{
    color: var(--green_secondary);
    margin: 10px 15px;
}
#partners_logo ul li a{
    text-transform: lowercase;
    color: var(--green_secondary);
    transition: all 0.5s ease-in-out ;
}
#partners_logo ul li:hover a{
    color: rgb(80, 80, 255);
    
}
@media screen and (max-width:683px){
    #partners{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #partners_p{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;       
    }
    #text{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
    #boxes{
        flex-direction: column;
        align-items: center;
    }
    #boxes .box{
        padding: 0;
        margin: 10px 0;
        width: 100vw;
    } 
    #boxes .box i,h1,h2,select{
        padding: 10px;
    }
}
@media only screen and (max-width:840px){
    header{
        height: 8vh;
        align-items: center;
    }
    header > nav {
        width: 100vw;
        height: 5vh;
    }
    nav ul{
        display: none;
    }
    nav a > img{
        margin-left: 20px;
        width: 200px;
    }
    #menu i{
        display: block;
    }
    #home {
        padding: 0;
        width: 100vw;
    }
    #boxes{
        width: 100vw;
    }
    #boxes .box{
        width: 33vw;
    }
    #partners{
        width: 100vw;
    }
}
@media screen and (max-width:1270px){
    #partners_p{
        text-align: center;
        width: 100%;
        font-size: 1rem;
    }
    #partners_logo i,a{
        font-size: 1rem;
    }
}
/* end numbers */
/* start citys */
#citys{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#citys > div{
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
#citys .city{
    width: 17vw;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    overflow: hidden;
}
#citys .city img{
    width: 100%;
}
#citys .city>div{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
#citys .city>div p{
    color: var(--green_main);
    font-weight: 400;
    font-size: 1.25rem;
}
#citys .city>div button{
    background-color: rgb(61,131,223);
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}
#citys h1{
    margin: 30px 0;
    color: var(--green_secondary);
}
#citys h2{
    margin: 30px 0;
    color: var(--green_main);
    font-size: 2rem;
    font-weight: 300;
}
#citys h3{
    margin: 30px 0;
    color: var(--green_main);
    font-size: 0.75rem;
    font-weight: 200;
}
#citys > button{
    background-color: rgb(61,131,223);
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 50px;
}
/* end citys */
footer{
    color: var(--green_secondary);
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(0, 191, 165);
    padding: 20px 0;

}
footer div{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}